@{
    ViewData["Title"] = "Hakkında";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content flex-column-fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <h2 class="welcome">Dekorasyoncunuza hoş geldiniz!</h2>
            <br />
            <br />
            <p class="yazi">Bu uygulama sayesinde artık sayısız sitelerde zaman harcamanıza gerek kalmayacak!</p>
            <p class="yazi">Tek yapmanız gereken Giriş ekranındaki parametreleri istediğiniz gibi doldurup, kaydet tuşuna basmak!</p>
            <p class="yazi">
                Sonrasında dekorasyoncunuz sizin için satın alabiliceğiniz dekorasyon, koltuk takımları, yatak odası takımları gibi sayısız
                ürünü karşınıza çıkartıyor!
            </p>
            <br /><br /><br /><br /><br />
            <p class="yazi-sonu">Dekorasyoncunuzu siz seçtiniz, ona güvenebilirsiniz!</p>
        </div>
    </div>
</div>
<script src="~/js/Custom/Hakkinda.js"></script>