@{
    ViewData["Title"] = "Iletisim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content flex-column-fluid" id="kt_content">
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <img class="center" src="~/Metronic/Theme/Demo11/dist/assets/CustomAssets/ben.png" height="310" width="300" />
                </div>
                <br><br>
                <div class="panel-body">
                    <p class="iletisim">Deniz Kubilay<br> GSM: +90 (535) 041 70 29 <br></p>
                    <br>
                    <p class="iletisim">
                        <a href="https://www.instagram.com/theflyingdeniz/" target="_blank"><img src="~/Metronic/Theme/Demo11/dist/assets/CustomAssets/insta.png" height="60" width="60" /></a>
                        <a href="https://twitter.com/progfalan" target="_blank"><img src="~/Metronic/Theme/Demo11/dist/assets/CustomAssets/tw.png" height="60" width="60" /></a>
                        <a href="https://www.linkedin.com/in/deniz-kubilay-9022361a2/" target="_blank"><img src="~/Metronic/Theme/Demo11/dist/assets/CustomAssets/linkedin.png" height="60" width="60" /></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/Custom/Iletisim.js"></script>