<!--begin::Header-->
<div id="kt_header" class="header flex-column header-fixed">
    <!--begin::Top-->
    <div class="header-top">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Left-->
            <div class="d-none d-lg-flex align-items-center mr-3">
                <!--begin::Logo-->
                <a href="@Url.Action("Index","Home")" class="mr-20">
                    <img alt="Logo" id="icondekor" src="~/Metronic/Theme/Demo11/dist/assets/CustomAssets/decor.png" /><br><p id="dekorasyoncu">Dekorasyoncunuz</p>
                </a>
                <!--end::Logo-->
            </div>
            <!--end::Left-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Top-->
    <!--begin::Bottom-->
    <div class="header-bottom" id="kt_header_bottom">
        <!--begin::Container-->
        <div class="container d-flex flex-column">
            <nav id="navigasyon">
                <!--begin::Tab Navs(for desktop mode)-->
                <ul class="header-tabs nav flex-column-auto" role="tablist">
                    <!--begin::Item-->
                    <li id="giris" class="nav-item">
                        <a id="home_tab" href="@Url.Action("Index","Home")" class="nav-link active">
                            <span class="nav-title "><img src="~/Metronic/Theme/Demo11/dist/assets/CustomAssets/home-page.png"><br>GİRİŞ</span>
                            <!--<span class="nav-desc">Sizin Tercihleriniz!</span>-->
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li id="dekorasyonlarimiz" class="nav-item">
                        <a id="decoration_tab" class="nav-link">
                            <span class="nav-title"><img src="~/Metronic/Theme/Demo11/dist/assets/CustomAssets/sofa.png"><br>DEKORASYONLARIMIZ</span>
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li id="hakkinda" class="nav-item">
                        <a id="about_tab" href="@Url.Action("Index","Hakkinda")" class="nav-link">
                            <span class="nav-title"><img src="~/Metronic/Theme/Demo11/dist/assets/CustomAssets/lightbulb.png"><br>HAKKINDA</span>
                            <!--<span class="nav-desc">Biz Kimiz?</span>-->
                        </a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li id="iletisim" class="nav-item">
                        <a id="contact_tab" href="@Url.Action("Index","Iletisim")" class="nav-link">
                            <span class="nav-title"><img src="~/Metronic/Theme/Demo11/dist/assets/CustomAssets/megaphone.png"><br>İLETİŞİM</span>
                            <!--<span class="nav-desc">Bize  Ulaşın!</span>-->
                        </a>
                    </li>
                    <!--end::Item-->
                </ul>
            </nav>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Bottom-->
</div>
<!--end::Header-->